<!DOCTYPE html>
<html>
  <head>
    <title>QsAssignment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div style='color: red; text-align: center;'><%= flash[:error] %></div>
    <%= yield %>
  </body>
</html>
